@model Person

<li class="main-li" id="@("person" + Model.Id)">
    @Model.Id |
    @Model.Name |
    @Model.PhoneNumber |
    @Model.City |

    @* This Url.Action below creates the link for AJAX and, in this case, sends it to the Id created (Ex. person2) *@
    <button class="btn btn-success" onclick="LinkUpdate('@Url.Action("Edit", "Home", new { id = Model.Id } )' , '@("person" + Model.Id)')">Edit</button>
    <button class="btn btn-danger" onclick="LinkUpdate('@Url.Action("Delete", "Home", new { id = Model.Id } )' , '@("person" + Model.Id)')">Delete</button>
</li>
