@model Person
@{
    ViewData["Title"] = "EditPerson";
}

<li class="main-li" id="@("person" + Model.Id)">
    <form id="editForm">
        @Model.Id |
        <input id="editName" type="text" name="Name" value="@Model.Name">
        <input id="editPhoneNumber" type="number" name="PhoneNumber" value="@Model.PhoneNumber" />
        <input id="editCity" type="text" name="City" value="@Model.City" />

        <button onclick="LinkEdit('@Url.Action("Edit","Home",new{ id = Model.Id })','edit','@Model.Id')"
                class="btn btn-success aUpdate">
            Update
        </button>
    </form>
</li>