@model Person
@{
    ViewData["Title"] = "EditPerson";
}

<li class="main-li aUpdate">
    <form class="aUpdate" method="post" asp-route-id="@Model.Id" data-target="testing">
        @Model.Id |
        <input type="text" name="Name" value="@Model.Name">
        <input type="number" name="PhoneNumber" value="@Model.PhoneNumber" />
        <input type="text" name="City" value="@Model.City" />

        <input type="hidden" name="Edit" value="@Model.Name" id="buttonEdit" />
        <input type="submit" name="Edit" value="Update" id="buttonEdit" />
    </form>
</li>